<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gaming Hub{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='hub_styles.css') }}">

</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/games">Games</a></li>
                <li><a href="/genres">Genres</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <div class="theme-toggle-container">
                <button type="button" id="theme-toggle">Toggle Theme</button>
            </div>
        </nav>
    </header>
    {% block content %}

    {% endblock %}

    <footer>
        <p>&copy; 2024 Gaming Hub. All rights reserved.</p>
    </footer>
    <script src="{{ url_for('static', filename='/hub_script.js') }}"></script>

</body>

</html>