/* Styles for main content area */
.main-content { 
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  padding: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  padding: 20px;
  padding-bottom: 50px;
}
/* Styles for the body */
body {
  font-family: "Press Start 2P", cursive;
  background-color: rgb(255, 255, 255);
  color: #f2aa4cff;
  margin: 0;
  padding: 0;
}
/* Styles for dark mode */
body.dark-mode {
  background-color: #121212;
  color: #f2aa4cff;
}
/* Styles for the header */
header {
  background-color: #0063b2ff;
  color: #f2aa4cff;
  padding: 20px;
  text-align: center;
}
/* Styles for the navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
/* Styles for navigation ul */
nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
/* Styles for navigation items */
nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}
/* Styles for navigation links */
nav ul li a {
  color: #f2aa4cff;
  text-decoration: none;
  padding: 10px;
}
/* Styles for theme toggle container */
.theme-toggle-container {
  margin-left: auto;
}
/* Styles for theme toggle button + hover below */
.theme-toggle-container button {
  background-color: #0063b2ff;
  color: #f2aa4cff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  border-radius: 5px;
}
.theme-toggle-container button:hover {
  background-color: #004a88;
}

footer {
  background-color: #0063b2ff;
  color: #f2aa4cff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* Styles for social media links */
.social-media-links {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.social-media-links a {
  margin: 0 10px;
}
.social-media-links img {
  width: 33px;
  height: auto;
  vertical-align: middle;
}

.image-container {
  position: relative;
  width: 275px;
  overflow: hidden;
}

.side-image {
  width: 100%;
  transition: transform 0.5s ease;
}

.image-container:hover .side-image {
  transform: scale(1.1);
}

/* Styles for overlay */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.image-container:hover .overlay {
  visibility: visible;
  opacity: 1;
}

.text {
  transform: translateY(100%);
  transition: transform 0.5s ease;
}

.image-container:hover .text {
  transform: translateY(0);
}

.genres-grid {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  gap: 20px;
  padding: 20px;
}

.genre-item {
  border-radius: 8px;
  overflow: hidden;
  padding: 15px;
}

.genre-description h3 {
  margin-top: 0;
}
/* Media query for smaller screens (max-width: 1024px) */

@media (max-width: 1024px) {
  .genres-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
/* Media query for smaller screens (max-width: 768px) */

@media (max-width: 768px) {
  .genres-grid {
    grid-template-columns: 1fr 1fr;
  }

  .genre-description h3 {
    font-size: 1.2em;
  }
}
/* Media query for smaller screens (max-width: 480px) */

@media (max-width: 480px) {
  .genres-grid {
    grid-template-columns: 1fr;
  }

  .genre-description {
    padding: 10px;
  }

  .genre-description h3 {
    font-size: 1.1em;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  display: inline;
  width: 60%;
  padding: 8px;
  margin: 5px 0;
  border: 2px solid #0063b2ff;
  border-radius: 5px;
}
/* form input styles */

input[type="submit"] {
  font-family: "Press Start 2P", cursive;
  background-color: #0063b2ff;
  color: #f2aa4cff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #004a88;
}

#hero-slider {
  display: flex;
  justify-content: center;
}
/* text-content and grid styles */

.text-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  padding: 20px;
  border-style: groove;
  border-color: #f2aa4cff;
  font-size: x-large;
}

.text-content-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
  padding: 20px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.text-content-grid1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
  padding: 20px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.text-box {
  background-color: #0063b2ff;
  border: 3px solid;
  border-color: #f2aa4cff;
  padding: 10px;
  cursor: pointer;
  position: relative;
  height: 150px;
  overflow: hidden;
}

.text-box1 {
  background-color: #0063b2ff;
  border: 3px solid;
  border-color: #f2aa4cff;
  padding: 10px;
  position: relative;
  height: 150px;
  overflow: hidden;
}

.summary {
  font-size: xx-large;
  transition: opacity 0.3s;
}
.summary1 {
  font-size: x-large;
  transition: opacity 0.3s;
}
.summary2 {
  font-size: large;
  transition: opacity 0.3s;
}
.full-text {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background-color: white;
  overflow-y: auto;
  transition: opacity 0.3s;
  display: none;
}

.text-box:hover .full-text,
.text-box:focus .full-text {
  opacity: 1;
  display: block;
}

.text-box:hover .summary,
.text-box:focus .summary {
  opacity: 0;
}

.header {
  font-size: x-large;
}
/* Media query for Ul on 768px screens */

@media only screen and (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.grid-item {
  border: 3px solid #f2aa4cff;
  padding: 20px;
}

