{% extends "base.html" %}

{% block title %}About Us - Gaming Hub{% endblock %}

{% block content %}
<main class="main-content">
    <div class="text-content-grid">
        <div class="text-box">
            <div class="summary">The Journey</div>
            <div class="full-text">Detaile</div>
        </div>
        <div class="text-box">
            <div class="summary">The Passion</div>
            <div class="full-text">Detail</div>
        </div>
        <div class="text-box">
            <div class="summary">Who am I?</div>
            <div class="full-text">Detail</div>
        </div>
        <div class="text-box">
            <div class="summary">My Favourite games</div>
            <div class="full-text">Detail</div>
        </div>
        <div class="text-box">
            <div class="summary">Game 1</div>
            <div class="full-text">Detail</div>
        </div>
        <div class="text-box">
            <div class="summary">Game 2</div>
            <div class="full-text">Detail</div>
        </div>
        <div class="text-box">
            <div class="summary">Future</div>
            <div class="full-text">Detail</div>
        </div>
        <div class="text-box">
            <div class="summary">Summary</div>
            <div class="full-text">Detail</div>
        </div>
    </div>
</main>
<div id="hero-slider" class="slider">
    <img src="/static/images/gaming.jpg" alt="Gaming Event" height="200px" width="55%">
    <img src="/static/images/gaming2.jpg" alt="Community" height="200px" width="55%">
</div>
{% endblock %}
